@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@400;700&family=Source+Sans+Pro:wght@200;300;400;700&display=swap');

.font-headers {
    font-family: 'Libre Baskerville', serif;
}

.font-text {
    font-family: 'Source Sans Pro', sans-serif;
}

.color-background {
    background-color: rgba(0, 0, 0, 0.1);
}

body {
    color: rgba(0, 0, 0, 0.8);
}

.main-container {
    padding: 1em;
}

.main-title {
    font-size: 3em;
    text-transform: capitalize;
    margin-bottom: 0.2em;
    position: absolute;
}

.title-logo {
    background-image: url('title-skull.png');
    height: 100px;
    width: auto;
    background-repeat: no-repeat;
    background-size: fixed;
    position: relative;
    left: 90%;
    opacity: 0.5;
}

.title-line {
    width: 75%;
    text-align: left;
    margin: 0;
    margin-bottom: 1em;
    border: 0.1px solid rgba(0, 0, 0, 0.2);
}

.excerpt-header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    height: 3.5em;
}

.excerpt-author {
    text-transform: uppercase;
    font-size: 0.9em;
    opacity: 0.5;
}